* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    width:70vw;
    margin:auto;
}

nav{
    font-size: clamp(0.8rem, 1vw, 2rem);
    background-color:#060D0D;
    box-shadow: 0 0 6px #919191;
    transition:0.3s;
    width: clamp(70vw, 60em, 100vw);
    margin: auto;
    display:flex;
    border-radius:0 0 2em 2em;
    justify-content:space-between;
    align-items:center;
    padding:1.5em 2em 1.5em;
}

nav:hover{
    box-shadow: 0 0 10px white;
    transition:0.3s;
}

nav p{
    font-size:1.5em;
    color:white;
}

ul{
    display:flex;
    list-style:none;
    gap:2em;
}

a{
    color:white;
    text-decoration:none;
}

body{
    font-family: Inter, sans-serif;
    background:#0D1212;
    color:white;
}

#welcomeHeader{
    font-size:clamp(4em, 8em, 10vw);
    text-transform:uppercase;
    letter-spacing:0.3em;
    margin:10rem 0 0;
}

#welcomeMessage{
  color:#919191;
  font-size:clamp(1.2rem, 1.5vw, 3rem);
  margin:1rem 0.5rem 5rem;
}

#contactInfoContainer{
  color:#919191;
  margin: 10rem 0 2rem;
}

#contactInfoContainer h2{
  margin-bottom:1em;
  color:white;
}

#contactInfoContainer ul{
  margin:1em 0 1.5em;
  gap: 1.5em;
}

#projectsHeader{
  font-size: 2rem;
  letter-spacing: 0.2em;
  padding-top: 8rem;
  margin:1rem 0 3em;
}


.projectContainer{
  margin: 3em 0 2em;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}
.projectContainer h3{
  margin:0 0 1em;
  color: white;
}

.projectContainer p{
  color:#919191;
  width: clamp(25vw, 30em, 50vw);
  padding-right: 2em;
}

.projectContainer a{
  background-color: #C2C2C2;
  font-size: clamp(0.75rem, 1em, 2vw);
  border-radius: 1em;
  color: black;
  margin-top: 2.5em;
  padding: 0.5em 2em 0.5em;
  transition: 0.3s;
}

.projectContainer a:hover{
  box-shadow: 0 0 4px white;
  background-color: white;
  transition: 0.3s;
}

br{
  line-height:2rem;
}

hr{
  color:#494949;
  line-height:1px;
}

.button{
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.5em;
  padding:1em 2em 1em;
  background-color:#C2C2C2;
  border-radius:0.8em;
  color:black;
  transition:0.3s;
}

.button:hover{
  background-color:white;
  box-shadow: 0 0 3px white;
  color:black;
  transition:0.3s;
}

.button img{
  width:1.5em;
  height:1.5em;
}